body {
    
    font-family: 'Leckerli One', cursive;
    color: rgb(249, 248, 253);
  }

  video {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
    z-index: -100; 
    opacity: 0.9;
  }

.conteiner {
    display: block;
    text-align: center;
    font-size: 24px;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 60px;
    background-color: rgb(55, 141, 91);;
    opacity: 0.85;
  }

audio {
  opacity: 0.3;
 } 

.chooseCity {
  font-family: 'Noto Serif', serif;
  font-style: italic;
  border-radius: 8px;
  border-color: aliceblue;
  box-shadow: 1px 1px 1px rgb(201, 191, 191);
  padding-left: 16px;
  color:rgb(99, 92, 92);
}

.submit,
.currentData { 
  border-radius: 8px;
  border-color: aliceblue;
  width: 100px;
  box-shadow: 1px 1px 1px rgb(201, 191, 191);
  color:rgb(99, 92, 92);
}

.submit:hover,
.currentData:hover {
  background-color: rgba(253, 161, 149, 0.945);
  box-shadow: rgba(253, 102, 82, 0.945);
  border-color: rgba(253, 161, 149, 0.945);
}

.infoCity {
    margin-top: 5px;
    margin-bottom:  20px;
}  

.city {
  font-size: 44px;
  color: rgba(253, 102, 82, 0.945);
  font-family: 'Noto Serif', serif;
  font-weight: bold;
  border-color: aliceblue;
}

.currentData {
  margin: 5px auto;
}

.icon {
  margin-top: -20px;
}

.tempMin {
  color:rgb(54, 47, 47);
}

#forecast {
margin-bottom: 40px;
}

.mycode {
  font-size: 20px;
}
.link {
  color: rgb(249, 248, 253);
}
